@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700|Niramit|Raleway|Roboto');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Niramit', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body{
	background-color: #20202d;
}

*{
	font-family: 'Lato', sans-serif;
}

div#main{
	background-color: lightgray;
	border-radius: .75rem;
	padding: .5rem;
	min-width: 500px;
	width: 80%;
	max-width: 1000px;
	min-height: 80%;
	margin: 10px auto;
}

#playlists li {
    padding: 5px;
}

h1{
	color: #20202d;
	font-family: 'Raleway', sans-serif;
	font-size: 48pt;
	text-align: center;
	margin: 0;
	padding: 10
}

.top_floats{
	padding: 0 5%;
	width: 40%;
	margin: 0 auto;
}

#feature_checkboxes{
	display: inline-block;
	float: right;
}
#feature_checkboxes form{
	display: inherit;
	padding: 2mm 1mm;
	margin: 3mm;
	border: 1mm solid white;
	border-radius: 2mm;
}

#left_actions{
	display: inherit;
	float:left;
	text-align: center;
	padding-top: 3mm;
	padding-bottom: 3mm;
}

#left_actions *{
	margin: 2mm 0;
}

#flow_results{
	max-height: 40vh;
	overflow-y: scroll;
}

#playlists{
	max-height: 40vh;
	overflow-y: scroll;
}

